.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eb4949;

}

.main-content {
    overflow: auto;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}